server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: learn-spring
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "a2773ad59aee54f7f1fda6be9f6574de7fe2a8443ecbc6c0e6fabd9a77da4c8b"