server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: learn-spring
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: root